.vscode/**
.github/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
**/tslint.json
contributing.md
.azure-pipelines.yml
shared.webpack.config.js
.eslintignore
.lsifrc.json
build/**
*.zip
*.vsix
client/**
!client/media/**
!client/src/resources/**
!client/out/extension.js
!client/out/compiled/**.js
server/**
!server/out/server.js
playgrounds/**
history/**